<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find jaka_zu7_v2)/urdf/jaka_zu7_v2_grasp.xacro"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <rosparam param="source_list">[/jaka_joint_states]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jaka_zu7_v2)/config/test_moveit.rviz"
          required="true" output="screen"/>

    <!-- moveit begin ++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false"/>
    <!-- By default, we will load or override the robot_description -->
    <arg name="load_robot_description" default="true"/>
    <!-- specify the palanning pipeline -->
    <arg name="pipeline" default="ompl"/>
    <!-- Set execution mode for fake execution controllers -->
    <arg name="execution_type" default="via points"/>
    <!-- moveit -->
    <include file="$(find single_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
<!--        <arg name="fake_execution" value="true"/>-->
<!--        <arg name="execution_type" value="$(arg execution_type)"/>-->
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="pipeline" value="$(arg pipeline)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

</launch>
